Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  bugprone-*,
  portability-*,
  readability-*,
  misc-*,
  clang-diagnostic-*,
  google-*,
  -cppcoreguidelines-special-member-functions,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -bugprone-exception-escape,
  -readability-named-parameter,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -google-runtime-references,
  -google-runtime-int,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
